body {
    margin: 0%;
    background-color: rgb(132, 184, 11);
    display: grid;
    justify-content:center;
    grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
    min-height: 100vh;    
}

header {
    grid-area: header;
    background-color: rgb(37, 87, 153);

}

aside {
    grid-area: aside;
    background-color: rgb(189, 186, 47);
}

main {
    grid-area: main;
    background-color: rgb(45, 18, 168)(63, 152, 236);    
}

aside {
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer {
    grid-area: footer;
    background-color: rgb(63, 152, 236);
}

.prod-container {   
    display: grid;    
    grid-template-columns: 100vw;
    gap:5px
    
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(40, 105, 24);
    padding: 10px;
    margin: 5px;
    align-items: center;
    color: beige; 

}

.tarjeta img {
    max-width: 100%;
    height: auto%;
}

select {
   background-color: darkolivegreen;
   font-family: Arial, Helvetica, sans-serif;
   font-size: small;  
   max-width: 50%;
   text-align: center;
}
nav {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

header img {
    
    width: 50px;
    height: 50px;
}

header li {
    display:inline;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin:3px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size:smaller;
    
}

nav a {
    text-decoration: none;
    color: rgb(91, 165, 42);
    font-weight: bold;
    margin: 0px;
    padding: 15px;
}

.titulo {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    gap: 30px;   

}

@media  (min-width:576px)
{ 

        body {
        
            grid-template-areas: 
            "header" "header" "header"
            "aside" "main" "main"
            "footer" "footer" "footer" 
            ; 
    }

    .prod-container {   
        display: grid;    
        grid-template-columns: auto auto auto;
        gap:5px
    
    }



}

